
body 
{
    background: url(background.png);
}

.textblack
{
    border : 15px solid transparent;  
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #fff7ad, #ffa9f9) border-box;
    border-radius: 20px;
    padding : 5px;
    margin : auto;
    width: 600px;
    display: block;
    color: #909;
    height: 250px;
}

.textcls
{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-family: Verdana;
    font-variant: small-caps;
    color: palevioletred;
    text-align: center;
}

.textwhite
{
    border : 15px solid transparent;  
    background: linear-gradient(#fff, #ffcccc) padding-box, linear-gradient(90deg, #fff7ad, #ffa9f9) border-box;
    border-radius: 20px;
    padding : 1px;
    margin : auto;
    width: 180px;
    display: block;
    color: #909;
    height: 400px;
}

.text
{
    border : 15px solid transparent;  
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #fff7ad, #ffa9f9) border-box;
    border-radius: 20px;
    padding : 5px;
    margin : auto;
    width: 600px;
    display: block;
    background-color: white;
    color: #ffe;
    height: 250px;
}

input:focus,
select:focus,
textarea:focus,
button:focus 
{
    outline: none;
}

::placeholder
 { /* Most modern browsers support this now. */
    color:    #909;
 }

#result 
{
    margin : 10px auto;
}

.right-btn 
{
    position: absolute; 
    right: 0px; 
    bottom: 0px
}

.left-btn
{
    display: flex;
    justify-content: center; 
}

.search
{
    width: 150px;
    height: 38px;
    margin: 10px 10px 0 10px;
    padding: 0 0 0 10px;
    background: linear-gradient(90deg, #ffb6fa, #ade1ff);
    border-radius: 20px;
    border : 1px solid #ffffff;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:bolder;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.btn
{
    width: 150px;
    text-align: center;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    margin: 10px 10px 10px 10px;
    background: linear-gradient(90deg, #ffb6fa, #ade1ff);
    border-radius: 20px;
    border : 1px solid #ffffff;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:bolder;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    transition: width 0.2s, height 0.2s, margin-top 0.2s, padding 0.2s;
}

#clean-btn 
{
    margin: 10px 0 0 0;
}

#clean-btn:active 
{
    margin-top: 15px;
}

a.btn:active 
{
    width: 145px;
    height: 35px;
    margin-top: 15px;
}

.help-btn 
{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    background-image: url(question.PNG);
    background-size: cover;
    border: 1px solid #ffb6fa;
    transition: margin 0.2s, width 0.2s, height 0.2s;
}

.help-btn:active
{
    width: 190px;
    height: 190px;
    margin: 15px;
}

.container {
    width: 50%; /* adjust to desired width */
    margin: 0 auto; /* center the container */
  }

#toggle-popup {
    position: absolute; 
    right: 0px; 
    bottom: 0px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    height: 60px;
    line-height: 40px;
    margin: 10px 10px 10px 10px;
    background: linear-gradient(90deg, #ffb6fa, #ade1ff);
    border-radius:50%;
    border : 1px solid #ffffff;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:bolder;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 35px;
}

#help {
    position: absolute; 
    right: 0px; 
    bottom: 107px;
    border : 15px solid transparent;  
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #ffa9f9, #fff7ad) border-box;
    border-radius: 20px;
    padding : 5px;
    margin-right: 10px;

    width: 250px;
    color: #909;
    height: 250px;
}
 
#frame {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
}

#frame input[type=radio] {
    display: none;
}

#frame label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 10px;
    border: 5px solid #0F0;
    background: #00F;
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#frame1:checked~#slides .inner {
    margin-left: 0;
}

#frame2:checked~#slides .inner {
    margin-left: -100%;
}

#frame3:checked~#slides .inner {
    margin-left: -200%;
}

#frame4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
}

#slides .frame {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFF;
}

#slides .frame_1 {
    background: #90C;
}

#slides .frame_2 {
    background: #F90;
}

#slides .frame_3 {
    background: #606;
}

#slides .frame_4 {
    background: #C00;
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#frame1:checked~#controls label:nth-child(2),
#frame2:checked~#controls label:nth-child(3),
#frame3:checked~#controls label:nth-child(4),
#frame4:checked~#controls label:nth-child(1) {
    background:
        url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}

#frame1:checked~#controls label:nth-last-child(2),
#frame2:checked~#controls label:nth-last-child(3),
#frame3:checked~#controls label:nth-last-child(4),
#frame4:checked~#controls label:nth-last-child(1) {
    background:
        url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float: left;
    margin: 0 0 0 -50px;
    display: block;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#frame1:checked~#bullets label:nth-child(1),
#frame2:checked~#bullets label:nth-child(2),
#frame3:checked~#bullets label:nth-child(3),
#frame4:checked~#bullets label:nth-child(4) {
    background: #444;
}

@media screen and (max-width: 900px) {

    #frame1:checked~#controls label:nth-child(2),
    #frame2:checked~#controls label:nth-child(3),
    #frame3:checked~#controls label:nth-child(4),
    #frame4:checked~#controls label:nth-child(1),
    #frame1:checked~#controls label:nth-last-child(2),
    #frame2:checked~#controls label:nth-last-child(3),
    #frame3:checked~#controls label:nth-last-child(4),
    #frame4:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }

    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }
}