<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="http://localhost:8000/" />
    <link rel="stylesheet" href="static/css/main_page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>language</title>
</head>
<body>
   <form method="POST" action="/" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="fields">
        <textarea class="textblack" id="dict_text" name="dict_text">{%if text %}{{text}}{%endif%}</textarea>
    </div>
    <div class="buttons">
        <div class="left-btn">
            <label class="btn">
                <input type="submit" value="ClearDict" style="display:none" name="cleardict" id="cleardict"  title="Get the dictionary">
                <span  title="Get the dictionary">Clear</span>
            </label>
            <label class="btn">
                <input type="submit" value="SaveDict" style="display:none" name="savedict" id="savedict"  title="Update the dictionary">
                <span  title="Update the dictionary">Save</span>
            </label>
           
            <input type="text"  placeholder="Search..."  name="searchdict" id="searchdict" class="search"  title="Search by a substring&#013;Press . to see all file&#013;Press , to see empty window">
            
            <label class="btn">
                <input type="submit" value="Return" style="display:none" name="return" id="return"  title="Pass to main-page">
                <span  title="Pass to main-page">Return</span>
            </label>
        </div>
    </div>
    </form>
    <div id="popup">
        <div class="popup-content">
    
        <textarea id="help" readonly></textarea> 
        </div>
      </div>
      <button id="toggle-popup">?</button>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var toggleButton = document.getElementById('toggle-popup');
        var popup = document.getElementById('popup');
        popup.style.display = 'none';
        toggleButton.addEventListener('click', function() {
            if (popup.style.display === 'block') {
            popup.style.display = 'none';
            } else {
            popup.style.display = 'block';
            }
        });
        });
      </script>
      <script>
        const textarea = document.getElementById("help");
        const list = ["Алгоритм взаимодействия со словарём:", "1)В поле \"Search\" написать искомый элемент", "2)В главном окне выведутся все элементы поиска", "", "Кнопка \"Save\" сохраняет изменения, внесённые в словарь", "","Кнопка \"Clear\" полностью удаляет созданный словарь", "", "Кнопка \"Return\" возвращает на главный экран"];
        const listString = list.join("\n");
        textarea.value = listString;
      </script>
</body>
</html>
