<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main_page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>language</title>
</head>
<body>
    <div class="fields">
        <textarea rows="10" cols="50" class="textblack" placeholder="Write some words..."></textarea>
        <textarea id="result" class="text" readonly></textarea>
    </div>
    <div class="buttons">
        <div class="left-btn">
            
            <button class="btn">Translate</button>
            <button class="btn">Open</button>
            <button class="btn">Save</button>
            <button class="btn" id="clean-btn">Clean</button>
            <input type="text" class="search" placeholder="Search...">
        </div>
        <div class="right-btn">
            <button class="help-btn"></button>
        </div>
    </div>
</body>
</html>
